customtkinter==5.2.2
darkdetect==0.8.0
numpy==2.2.6
packaging==25.0
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
bottle==0.13.4
cefpython3==66.1
cffi==2.0.0
clr_loader==0.2.8
proxy-tools==0.1.0
pycparser==2.23
pythonnet==3.0.5
pywebview==6.1
typing_extensions==4.15.0
